In [2]:
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
# create database
mydb = myclient["mydatabase"]

In [7]:
dblist = myclient.list_database_names()
print(dblist)

['admin', 'config', 'local']

In [8]:
# database wont show without data
if "mydatabase" in dblist:
  print("The database exists.")

In [9]:
# create collection -- wont show without data
mycol = mydb["customers"]
print(mydb.list_collection_names())

[]

In [11]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

print(mydb.list_collection_names())

['customers']

In [12]:
print(x.inserted_id)

677c9c640f343cef4809ad84

In [18]:
list(mycol.find({}))

[{'_id': ObjectId('677c9c580f343cef4809ad83'),
  'name': 'John',
  'address': 'Highway 37'},
 {'_id': ObjectId('677c9c640f343cef4809ad84'),
  'name': 'John',
  'address': 'Highway 37'}]

In [19]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)

In [20]:
list(mycol.find({}))

[{'_id': ObjectId('677c9c580f343cef4809ad83'),
  'name': 'John',
  'address': 'Highway 37'},
 {'_id': ObjectId('677c9c640f343cef4809ad84'),
  'name': 'John',
  'address': 'Highway 37'},
 {'_id': ObjectId('677c9d590f343cef4809ad85'),
  'name': 'Amy',
  'address': 'Apple st 652'},
 {'_id': ObjectId('677c9d590f343cef4809ad86'),
  'name': 'Hannah',
  'address': 'Mountain 21'},
 {'_id': ObjectId('677c9d590f343cef4809ad87'),
  'name': 'Michael',
  'address': 'Valley 345'},
 {'_id': ObjectId('677c9d590f343cef4809ad88'),
  'name': 'Sandy',
  'address': 'Ocean blvd 2'},
 {'_id': ObjectId('677c9d590f343cef4809ad89'),
  'name': 'Betty',
  'address': 'Green Grass 1'},
 {'_id': ObjectId('677c9d590f343cef4809ad8a'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('677c9d590f343cef4809ad8b'),
  'name': 'Susan',
  'address': 'One way 98'},
 {'_id': ObjectId('677c9d590f343cef4809ad8c'),
  'name': 'Vicky',
  'address': 'Yellow Garden 2'},
 {'_id': ObjectId('677c9d590f343cef4809ad8d'),
  'name': 'Ben',
  'address': 'Park Lane 38'},
 {'_id': ObjectId('677c9d590f343cef4809ad8e'),
  'name': 'William',
  'address': 'Central st 954'},
 {'_id': ObjectId('677c9d590f343cef4809ad8f'),
  'name': 'Chuck',
  'address': 'Main Road 989'},
 {'_id': ObjectId('677c9d590f343cef4809ad90'),
  'name': 'Viola',
  'address': 'Sideway 1633'}]